html {
	font-size: 62.5%;
}

body{
	@include rem(font-size, 1.6rem);

	font-family: Lato, sans-serif;
}
a{
	color: $color-green-dark;
	&:hover{
		color: $color-green;
		text-decoration: none;
	}
}

header {
	display: grid;
	align-items: center;
	padding: 15px 15px 14px 15px;
	grid-template-columns: 200px 1fr 200px;
	grid-template-areas: "logo . idiom-menu";
	background-color: $color-green;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
}

.subHeader{
	display: grid;
	align-content: center;
	align-items: center;
	padding: 10px 15px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "main-menu main-menu"
						 "search search";

}
.main-menu {
	grid-area: main-menu;
	margin: 10px 0;
	.main-menu_group{
		border-radius: 10px;
		border: 2px solid $color-green;

		position: relative;
		display: inline-flex;
		/* border: 1px solid red; */
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		overflow: hidden;
	}
	button{
		//padding: 10px 0;
		width: calc(50%);
		font-size: $font-size-h5;
		text-transform: uppercase;
		color: $color-green;
		border:none;
		display:inline-block;
		//border: 1px solid darken($color-green, 5%);
		padding: 10px;
		appearance: none;
		&.active {
			background-color: $color-green;
			color: #FFFFFF;
		}
	}

}
.search{
	grid-area: search;
	position: relative;
	overflow: hidden;
	color: $color-gray-dark;
	border: 1px solid darken($color-gray-light, 15%);
	border-radius: 10px;
	margin: 5px 0;

	input {
		width: 100%;
		padding: 10px 15px;
		border: none;
		border-radius: 10px;
		outline: $color-gray-light;
		appearance: none;
	}
	span{
		@include centerer(false, true);

		right: 0;
		box-sizing: border-box;
		display: block;
		width: 40px;
		height: 100%;
		padding: 0 10px;
		background-color: $color-gray-light;
		border-left: 1px solid darken($color-gray-light, 15%);
		&:hover{
			cursor: pointer;
			background-color: darken($color-gray-light, 10%);

		}
	}
	i{
		@include centerer(true, true);

		padding: 0 10px;
	}
}

.logo {
	grid-area: logo;
	margin: 0;
	font-family: "Baloo Thambi", cursive;
	font-size: $font-size-h1;
	color: #FFFFFF;

}

.idiom-menu{
	grid-area: idiom-menu;
	text-align: right;
	button{
		width: 45px;
		height: 45px;
		margin: 0 5px;
		font-weight: 600;
		color: #FFFFFF;
		cursor: pointer;
		background-color: darken($color-green, 5%);
		border: none;
		border-radius: 50%;

		&:hover{
			background-color: darken($color-green, 10%);
		}
	}
}

.filters{
	display: grid;
	justify-content: center;
	padding: 15px;
	margin: 0 0 15px 0;
	grid-template-columns: repeat(4, minmax(auto, 150px));
	color: $color-gray-dark;
	text-transform: capitalize;
	background-color: $color-gray-light;
	gap: 10px;
	box-shadow: inset 0 0 7px rgba(0, 0, 0, .15);

	.filter-item{
		align-content: center;
		padding: 5px 8px;
		color: lighten($color-gray-dark, 30%);
		text-align: center;
		cursor: pointer;
		background-color: #FFFFFF;
		border: 3px solid darken($color-gray-light, 15%);
		border-radius: 10px;
		&:hover{
			color: lighten($color-gray-dark, 20%);
			border: 3px solid darken($color-gray-light, 25%);
		}
		&.active{
			color: $color-gray-dark;
			border: 3px solid $color-green;
		}
		p{
			margin-bottom: 0;
		}
	}
}

.ad-list {
	margin-top: 35px;
	display: grid;
	grid-template-columns: repeat(2, minmax(223px, 400px));
	justify-content: center;
	gap: 25px;
	padding:0 15px;
}
.ad{
	border: 2px solid $color-gray-light;
	cursor: pointer;
	position: relative;
	display: block;
}
.ad-image{
	margin: 0;
}
.ad-image img{
	width: 100%;
	vertical-align: top;
}


@media screen and (min-width: 768px) {
	.subHeader{
		grid-template-columns: minmax(300px, auto);
		grid-template-areas: "main-menu search";
		padding: 20px 15px 18px;
	}
	.main-menu{
		margin: 0;
		.main-menu_group {
			max-width: 300px;
		}
	}
	.filters{
		gap: 15px;
		.filter-item{
			padding: 5px 15px;
		}
	}

}

@media screen and (min-width: 992px) {
	.ad-list {
		grid-template-columns: repeat(3, minmax(223px, 400px));
	}
}