.price-wrapper {
	position: relative;
}

.price {
	grid-area: price;
	float: right;
	margin: 20px 30px 0 0;
}

.btn-price {
	min-width: 160px;
	padding: 10px 20px;
	color: $color-gray-dark;
	background-color: $color-gray-light;
	border: 0;
	border-radius: 10px;
	&:hover {
		background-color: darken($color-gray-light, 5%);
	}
	&:focus {
		outline: none !important;
	}
}

.btn-price_text {
	padding: 0 10px 0 5px;
	font-size: $font-size-base !important;
	text-transform: capitalize;
}

.price-dropdown {
	right: 0;
	padding: 0 0;
	.price-item {

		a {
			padding: 8px 0;
			text-align: center;
			border-bottom: 1px solid darken($color-gray-light, 2%);
			&:hover {
				background-color: $color-green-light;
			}
		}
	}
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.btn-default.dropdown-toggle.focus, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle:hover {
	background-color: darken($color-gray-light, 5%);
}