.price-wrapper {
	position: relative;
}

.price {
	grid-area: price;
	float: right;
	margin: 20px 30px 0 0;
}

.btn-price {
	min-width: 160px;
	padding: 10px 20px;
	color: $color-gray-dark;
	background-color: $color-gray-light;
	border: 0;
	border-radius: 10px;
	&:hover {
		background-color: darken($color-gray-light, 5%);
	}
}

.btn-price_text {
	padding: 0 10px 0 5px;
	text-transform: capitalize;
}

.price-dropdown {
	right: 0;
	padding: 0 0;
	.price-item {
		a {
			padding: 8px 0;
			text-align: center;
			&:hover {
				background-color: $color-green-light;
			}
			&:not(:first-child) {
				&::after {
					padding-left: 2px;
					content: "€";
				}
			}
		}
		&.active {
			a {
				background-color: $color-green-light;
			}
		}
		&:not(:last-child) {
			border-bottom: 1px solid darken($color-gray-light, 2%);
		}
	}
}

// Overwritted Bootstrap Styles
.btn-default {
	&.active,
	&:active {
		&.focus,
		&:focus,
		&:hover {
			background-color: darken($color-gray-light, 5%);
			outline: none;
		}
	}
}

.open > .btn-default{
	&.dropdown-toggle {
		&.focus,
		&:focus,
		&:hover{
			background-color: darken($color-gray-light, 5%);
		}
	}
}


