html, body {
	height: 100%;
	overflow: auto;
}

html {
	font-size: 62.5%;
}

body{
	font-family: Lato, Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-areas: "header"
						 "subHeader"
						 "filters"
						 "price"
						 "ad-list-wrapper"
						 "pagination-wrap"
						 "footer";
	grid-template-rows: max(80px) auto max(75px) auto auto auto 80px;
}

a{
	color: $color-green-dark;
	&:hover{
		color: $color-green;
		text-decoration: none;
	}
}

@media screen and (min-width: $tablet-portrait-width) {
	body {
		grid-template-rows: max(80px) max(95px) max(75px) auto auto auto 80px;
	}
}