html {
	font-size: 62.5%;
}

body{
	@include rem(font-size, 1.6rem); //16px

	font-family: Lato, Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-areas: "header"
						 "subHeader"
						 "filters"
						 "price"
						 "ad-list"
						 "pagination-wrap"
						 "footer";
	grid-template-rows: auto auto auto auto auto 80px;
}

a{
	color: $color-green-dark;
	&:hover{
		color: $color-green;
		text-decoration: none;
	}
}
