// Nodepop Variables
// Base Colors
$color-yellow: #FFCD34 !default;
$color-gray-dark: #3E3D42 !default;
$color-gray-light: #F0F0F2 !default;
$color-red: #B30000 !default;
$color-green: #13C1AC !default;
$color-green-light: #51CBBD !default;
$color-green-dark: #0E8E7F !default;
$color-blue: #0E8E7F !default;
$color-blue-light:#0AB9D8 !default;
$color-pink: #F3E3E2 !default;

//Font Families

//Font Sizes
$font-size-body: 13px !default;
$font-size-base: 16px !default;
$font-size-h1: $font-size-base + 20px !default; //36
$font-size-h2: $font-size-base + 12px !default; //28
$font-size-h3: $font-size-base + 8px !default; //24
$font-size-h4: $font-size-base + 4px !default; //20
$font-size-h5: $font-size-base + 2px !default; //18
$font-size-h6: $font-size-base !default; //16
$font-size-xs: $font-size-base - 5px !default; //11

