// Nodepop Variables
// Base Colors
$color-yellow: #FFCD34 !default;
$color-gray-dark: #3E3D42 !default;
$color-gray-light: #F0F0F2 !default;
$color-red: #B30000 !default;
$color-green: #13C1AC !default;
$color-green-light: #51CBBD !default;
$color-green-dark: #0E8E7F !default;
$color-green-intense: #00B29D !default;
$color-pink: #F3C5C2 !default;
$color-pink-intense: #F39892 !default;

//Font Families

//Font Sizes
// $font-base: 16 !default;
$font-size-base: 16px !default; // body
$font-size-h1: 3.6rem !default;//36
$font-size-h2: 2.8rem !default;//28
$font-size-h3: 2.4rem !default; //24
$font-size-h4: 2rem !default; //20
$font-size-h5: 1.8rem !default; //18
$font-size-h6: 1.6rem !default; //16
$font-size-xs: 1.1rem !default; //11

//Media Queries
$mobile-portrait-width: 481px; //iphone6
$mobile-landscape-width: 640px; //iphone6
$tablet-portrait-width: 768px; //ipad
$tablet-landscape-width: 1024px; //ipad