<div class="filters">
	<div class="filter-item" data-type="tags" data-value="work">
		<p>work</p>
	</div>
	<div class="filter-item" data-type="tags" data-value="lifestyle">
		<p>lifestyle</p>
	</div>
	<div class="filter-item" data-type="tags" data-value="motor">
		<p>motor</p>
	</div>
	<div class="filter-item" data-type="tags" data-value="mobile">
		<p>mobile</p>
	</div>
</div>
