<header class="header">
	<div>
		<a href="/">
			<h1 class="logo">
				<%= title %>
			</h1>
		</a>
	</div>
	<div class="idiom-menu">
		<div>
			<button type="button" class="idiom_button" id="idiomEs" data-lang="es">es</button>
			<button type="button" class="idiom_button" id="idiomEn" data-lang="en">en</button>
		</div>
	</div>
</header>
