<% if (total === 0) { %>
	<div class="ad_not-ads" id="pagination-total" data-type="paginationTotal" data-total="<%= total %>">
		<h4>No se han encontrado anuncios con estos criterios</h4>
		<div class="not-ads_frame">
			<img src="/images/notAds-400px.png" alt="">
		</div>
	</div>
<% } %>
