
	<section class="pagination-wrap clearfix">
		<div>
			<div class="pagination" id="pagination">
				<!-- paginationjs -->
				<!-- <div class="paginationjs">
					<div class="paginationjs-pages">
						<ul>
							<li class="paginationjs-prev disabled">
								<a>
									<i class="glyphicon glyphicon-chevron-left"></i>
								</a>
							</li>
							<li class="paginationjs-page J-paginationjs-page active" data-num="1">
								<a>8</a>
							</li>
							<li class="paginationjs-page J-paginationjs-page" data-num="2">
								<a href="">8</a>
							</li>
							<li class="paginationjs-page J-paginationjs-page" data-num="3">
								<a href="">8</a>
							</li>
							<li class="paginationjs-next J-paginationjs-next" data-num="2" title="Next page">
								<a href="">
									<i class="glyphicon glyphicon-chevron-right"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="paginationjs-go-input">
						<input type="text" class="J-paginationjs-go-pagenumber">
					</div>
					<div class="paginationjs-go-button">
						<input type="button" class="J-paginationjs-go-button" value="Ir">
					</div>
				</div> -->
			</div>
		</div>
	</section>
