<div class="price-wrapper">
	<div class="price">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle btn-price" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
				<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
				<span class="btn-price_text">precio</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right price-dropdown " aria-labelledby="dropdownMenu1">
				<li class="price-item" data-type="price" data-value="0-"><a href="#">Ver todos</a></li>
				<li class="price-item" data-type="price" data-value="10-50"><a href="#">10-50</a></li>
				<li class="price-item" data-type="price" data-value="10-"><a href="#">+10</a></li>
				<li class="price-item" data-type="price" data-value="-50"><a href="#">-50</a></li>
				<li class="price-item" data-type="price" data-value="50"><a href="#">50</a></li>
				<li class="price-item" data-type="price" data-value="50-"><a href="#">+50</a></li>
			</ul>
		</div>
	</div>
</div>
