<div class=subHeader>
	<div class="main-menu">
		<div class="main-menu_group">
			<button type="button" class="main_button" data-type="isSale" data-value="false">se busca</button>
			<button type="button" class="main_button" data-type="isSale" data-value="true">se vende</button>
		</div>
	</div>
	<div class="search">
		<input type="search">
		<span>
			<i class="glyphicon glyphicon-search"></i>
		</span>
	</div>
</div>
