<section class="ad-list" id="ad-list">
	<a href="" class="ad buy">
		<figure class="ad-image">
			<img src="./images/lifestyle_01-400px.jpg" alt="">
			<figcaption>
				<h4 class="ad-title">Nombre del artículo</h4>

				<div class="ad_tags">
					<span>lifestyle</span>
					<span>tag2</span>
				</div>
				<div class="ad_details">
					<div class="ad_type">
						<span>Compra</span>
					</div>
					<div class="ad_price">
						<span>125€</span>
					</div>
				</div>
			</figcaption>
		</figure>
	</a>
	<!-- <a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_01-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad sell">
			<figure class="ad-image">
				<img src="./images/lifestyle_02-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Venta</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad sell">
			<figure class="ad-image">
				<img src="./images/lifestyle_03-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Venta</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_04-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_05-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_06-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad sell">
			<figure class="ad-image">
				<img src="./images/lifestyle_07-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Venta</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_01-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a> -->
</section>