<div class="filters">
	<div class="filter-item active">
		<p>work</p>
	</div>
	<div class="filter-item active">
		<p>lifestyle</p>
	</div>
	<div class="filter-item">
		<p>motor</p>
	</div>
	<div class="filter-item">
		<p>mobile</p>
	</div>
</div>
