<div class="filters">
	<div class="filter-item active" data-filter="work">
		<p>work</p>
	</div>
	<div class="filter-item active" data-filter="lifestyle">
		<p>lifestyle</p>
	</div>
	<div class="filter-item" data-filter="motor">
		<p>motor</p>
	</div>
	<div class="filter-item" data-filter="mobile">
		<p>mobile</p>
	</div>
</div>
