<header class="header">
	<div>
		<h1 class="logo">
			<%= title %>
		</h1>
	</div>
	<div class="idiom-menu">
		<div>
			<button type="button" class="idiom_button" id="idiomEn">en</button>
			<button type="button" class="idiom_button" id="idiomEs">es</button>
		</div>
	</div>
</header>
