<!DOCTYPE html>
<html>
	<% include head %>

<body>

	<% include header %>

	<% include subheader %>

	<% include filters %>

	<% include adsList %>

	<% include pagination %>

	<% include footer %>

	<script src="/js/main.js"></script>
	<!-- ** PRODUCTION ** -->
	<!--<script src="/js/main.min.js"></script>-->
</body>

</html>
