<!DOCTYPE html>
<html>
	<% include partials/head %>

<body>

	<% include partials/header %>

	<% include partials/subheader %>

	<% include partials/filters %>

	<% include partials/price %>

	<section class="ad-list-wrapper" id="ad-list-wrapper">
		<% include partials/adsList %>
	</section>

	<% include partials/notAds %>

	<% include partials/pagination %>

	<% include partials/footer %>
	
	<script async src="/js/vendor.js"></script>
	
	<script src="/js/main.js"></script>
	<!-- <script src="/js/pagination.js"></script> -->
	
	<!-- ** PRODUCTION ** -->
	<!--<script src="/js/concat.min.js"></script>-->
</body>

</html>
