<!DOCTYPE html>
<html>
	<% include partials/head %>

<body>

	<% include partials/header %>

	<% include partials/subheader %>

	<% include partials/filters %>

	<section class="ad-list" id="ad-list">
		<% include partials/adsList %>
	</section>

	<% include partials/pagination %>

	<% include partials/footer %>

	<script src="/js/main.js"></script>
	<!-- ** PRODUCTION ** -->
	<!--<script src="/js/main.min.js"></script>-->
</body>

</html>
