<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <header class="header">
      <nav class="header_nav">
          <h1 class="header_title"><%= title %></h1>
          <p class="header_subtitle">Bienvenido a <%= title %></p>
      </nav>
    </header>
    <form action="">
      <input type="search" name="" id="">
      <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    <section class="main_section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <article class="item">
              anuncio 1
            </article>
          </div>
          <div class="col-sm-6">
            <article class="item">
              anuncio 1
            </article>
          </div>
        </div>
      </div>
    </section>
    <% include footer %>
  </body>
</html>
