<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet" lazyload>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" lazyload>
	<link href='/css/style.css' rel='stylesheet' />
	<!-- ** PRODUCTION ** -->
	<!--<link rel='stylesheet' href='/css/style.min.css'/>-->
</head>

<body>
	<header class="header">
		<div>
			<h1 class="logo">
				<%= title %>
			</h1>
		</div>
		<div class="idiom-menu">
			<div>
				<button type="button" class="idiom_button" id="idiomEn">en</button>
				<button type="button" class="idiom_button" id="idiomEs">es</button>
			</div>
		</div>
	</header>

	<div class=subHeader>
		<div class="main-menu">
			<div class="main-menu_group">
				<button type="button" class="main_button active">comprar</button>
				<button type="button" class="main_button">vender</button>
			</div>
		</div>
		<div class="search">
			<input type="search">
			<span>
				<i class="glyphicon glyphicon-search"></i>
			</span>
		</div>
	</div>

	<div class="filters">
		<div class="filter-item active">
			<p>work</p>
		</div>
		<div class="filter-item active">
			<p>lifestyle</p>
		</div>
		<div class="filter-item">
			<p>motor</p>
		</div>
		<div class="filter-item">
			<p>mobile</p>
		</div>
	</div>

	<section class="ad-list" id="ad-list">

		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_01-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad sell">
			<figure class="ad-image">
				<img src="./images/lifestyle_02-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Venta</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad sell">
			<figure class="ad-image">
				<img src="./images/lifestyle_03-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Venta</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_04-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_05-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_06-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad sell">
			<figure class="ad-image">
				<img src="./images/lifestyle_07-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Venta</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="" class="ad buy">
			<figure class="ad-image">
				<img src="./images/lifestyle_01-400px.jpg" alt="">
				<figcaption>
					<h4 class="ad-title">Nombre del artículo</h4>

					<div class="ad_tags">
						<span>lifestyle</span>
						<span>tag2</span>
					</div>
					<div class="ad_details">
						<div class="ad_type">
							<span>Compra</span>
						</div>
						<div class="ad_price">
							<span>125€</span>
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
	</section>

	<section class="pagination-wrap clearfix">
		<div >
			<div class="pagination" id="pagination">
				<!-- paginationjs -->
				<div class="paginationjs">
					<div class="paginationjs-pages">
						<ul>
							<li class="paginationjs-prev disabled">
								<a>
									<i class="glyphicon glyphicon-chevron-left"></i>
								</a>
							</li>
							<li class="paginationjs-page J-paginationjs-page active" data-num="1">
								<a>1</a>
							</li>
							<li class="paginationjs-page J-paginationjs-page" data-num="2">
								<a href="">2</a>
							</li>
							<li class="paginationjs-page J-paginationjs-page" data-num="3">
								<a href="">3</a>
							</li>
							<li class="paginationjs-next J-paginationjs-next" data-num="2" title="Next page">
								<a href="">
									<i class="glyphicon glyphicon-chevron-right"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="paginationjs-go-input">
						<input type="text" class="J-paginationjs-go-pagenumber">
					</div>
					<div class="paginationjs-go-button">
						<input type="button" class="J-paginationjs-go-button" value="Go">
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer"></footer>

	<script src="/js/main.js"></script>
	<!-- ** PRODUCTION ** -->
	<!--<script src="/js/main.min.js"></script>-->
</body>

</html>