<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
	<!-- ** PRODUCTION ** -->
	<!--<link rel='stylesheet' href='/css/style.min.css'/>-->
  </head>
  <body>
    <h1 class="titulo"><%= title %></h1>
    <h2>Bienvenido a <%= title %></h2>
	<script src="/js/main.js"></script>
	<!-- ** PRODUCTION ** -->
	<!--<script src="/js/main.min.js"></script>-->
  </body>
</html>
