<div class=subHeader>
	<div class="main-menu">
		<div class="main-menu_group">
			<button type="button" class="main_button active" data-modality="false">comprar</button>
			<button type="button" class="main_button" data-modality="true">vender</button>
		</div>
	</div>
	<div class="search">
		<input type="search">
		<span>
			<i class="glyphicon glyphicon-search"></i>
		</span>
	</div>
</div>
