.header_nav{
    //background-color: #feded1;
    padding-top: 10px;
    padding-bottom: 10px;
    //text-align: center;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	//box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.header_title{
    font-weight: bold;
    font-size: 3rem;
    color: $gray-base;
}
.header_subtitle{
    color: $gray-dark;
}