.form-wrap{
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.form-search{
    .input-search {
        display: inline-block;
        width: 30%;
        margin: 15px;
        padding: 8px;
        border-radius: 5px;
        box-shadow: 0 1px 1px 0 #C7C7C7 inset;

        appearance: none;

        color: $gray-dark;
        &::placeholder{
            color: $gray-lighter;
        }
    }
    .button-search {
        appearance: none;
        display: inline-block;
        border-radius: 300px;
        font-family: Lato,Helvetica,Arial,sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .btn-xl {
        padding: 15px 45px;
    }
    .btn-outline {
        color: #fff;
        border: 1px solid;
        border-color: #fff;
    }
}
a{
    text-decoration: none;
    background-color: transparent;
}